version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres159357
      POSTGRES_DB: mydb
    ports:
      - "5252:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  web-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-web-app
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres159357
      DB_NAME: mydb
      DB_SSLMODE: disable
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata: